.root {
     -fx-background-fill: #F6F6F6;
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow(gaussian ,rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button {
   -fx-fill: Black;
   -fx-font-family: "Arial Black";
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: black;
    -fx-text-fill: #F0F0F0;
}