.root {
    -fx-background-color: #FFFFFF;
    }

.menu {
    -fx-background-color: #A60312
}

.menu-bar {
    -fx-background-color: #A60312
}

.menu .label {
    -fx-text-fill: #FFFFFF
}

.menu:showing .label {
    -fx-text-fill: #000000;
}

.button {
    -fx-background-color:
            #A60312
            linear-gradient(#DE0027, #A60312);
        -fx-background-insets: 0,1,2;
        -fx-background-radius: 3,2,1;
        -fx-text-fill: #FFFFFF;
        -fx-font-size: 12px;
}

.backButton SVGPath{
   -fx-fill: white;
}

.button:hover {
        -fx-border-fill: #FFFFFF;
        -fx-background-color: #A60312;
        -fx-scale-x: 1.08;
        -fx-scale-y: 1.08;
}

#backButton {
    -fx-background-radius: 0,0,0;
    -fx-background-color:
            #A60312
            linear-gradient(#DE0027, #A60312);
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Helvetica Neue;
    -fx-font-size: 12px;
    -fx-border-style: none none none solid;
    -fx-border-width: 1;
    -fx-border-color: white;
}

#openEnclosingFolder {
     -fx-background-radius: 0,0,0;
     -fx-background-color:
             #A60312
             linear-gradient(#DE0027, #A60312);
     -fx-text-fill: #FFFFFF;
     -fx-font-family: Helvetica Neue;
     -fx-font-size: 12px;
     -fx-border-style: none none none solid;
     -fx-border-width: 1;
     -fx-border-color: white;
 }

#changeToPastTags {
    -fx-background-radius: 0,0,0;
    -fx-background-color:
          #A60312
          linear-gradient(#DE0027, #A60312);
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Helvetica Neue;
    -fx-font-size: 12px;
    -fx-border-style: none none none solid;
    -fx-border-width: 1;
    -fx-border-color: white;
}

#changeLocation {
    -fx-background-radius: 0,0,0;
    -fx-background-color:
            #A60312
            linear-gradient(#DE0027, #A60312);
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Helvetica Neue;
    -fx-font-size: 12px;
    -fx-border-style: none none none solid;
    -fx-border-width: 1;
    -fx-border-color: white;
   }

